<% provide(:title, 'Contact') %>

<h1>UNDER CONSTRUCTION</h1>
<p>
  Hello, we are Umbrella Roofing and Siding.
</p>

<p>
  Regretfully, our website is still being constructed. 
</p>

<p>
  In the meantime, please contact us at 631 368 0800 
  or umbrellaroofingandsiding@gmail.com for a free estimate.
</p>
