

<% provide(:title, 'Home') %>

<h1>Home</h1>
<p> Hello, welcome to Umbrella Home Improvement. We are dedicated to giving the best possible service and job to Long Island. We specialize in roofing and all exterior work.
We are owned by a third and fourth generation roofer and are a family buisiness. As Certainteed Master Elite installers, we can offer you the best warrantee in the buisiness
and guarantee your satisfaction. Please contact us for a free estimate at 631-368-0800.</p>


<%= image_tag("house.jpeg", id: 'house') %>
<%= image_tag("ridge.jpeg", id: 'ridge') %>
<%= image_tag("certroof.jpeg", id: 'roof') %>
