

<% provide(:title, 'Home') %>





<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="carousel_home" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <%= image_tag("slider1.v01.JPG") %>
      <div class="carousel-caption">
        <p>Grand Manor Shingles with Custom Built Doghouses</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slider2.v01.JPG") %>
      <div class="carousel-caption">
        <p>Standard Archetectural Shingles with Custom Portico</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slider3.v01.JPG") %>
      <div class="carousel-caption">
        <p>Custom Doghouse</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slider4.v01.JPG") %>
      <div class="carousel-caption">
        <p>Beautifull Masonary and Exterior Stonework</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#carousel_home" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel_home" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->


<p> 
  Hello, welcome to Umbrella Home Improvement. We are a family owned and run buisiness with over 40 years of experience serving customers on Long Island. 
  We are dedicated to providing the best possible job and customer service experience to our customers. As exterior specialists we have the vision and the resources to provide
  anything from a small roof or siding repair, to a complete and total home makeover. All of our estimates are 100% free and our Owner will work with you personally to design
  the specific job to meet your needs. As Certainteed Master Elite installers, we can offer the industry leading warrantee backed 100% by Certanteed. Please contact us today to discuss how we can make your dream home a reality. 

</p>


