

<% provide(:title, 'Home') %>




<div class="wrapper">
<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="carousel_home" class="carousel slide"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <%= image_tag("slider1.v01.JPG") %>
      <div class="carousel-caption">
        <p>Grand Manor Shingles with Custom Built Doghouses</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slider2.v01.JPG") %>
      <div class="carousel-caption">
        <p>Standard Archetectural Shingles with Custom Portico</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slider3.v01.JPG") %>
      <div class="carousel-caption">
        <p>Custom Doghouse</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag("slider4.v01.JPG") %>
      <div class="carousel-caption">
        <p>Beautiful Masonary and Exterior Stonework</p>
      </div>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#carousel_home" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel_home" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
</div>

<div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Umbrella Roofing and Siding
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Custom Exteriors</h4>
                    </div>
                    <div class="panel-body">
                        <p>We are a family owned and run buisiness with over 40 years of experience serving customers on Long Island. Located in Commack, we serve all of Nassau and Suffolk counties. 
  We are dedicated to providing the best possible job and customer service experience to our customers. As exterior specialists we have the vision and the resources to provide
  anything from a small roof or siding repair, to a complete and total home makeover. All of our estimates are 100% free and our Owner will work with you personally to design
  the specific job to meet your needs. As Certainteed Master Elite installers, we can offer the industry leading warrantee backed by Certanteed. Please contact us today to discuss how we can make your dream home a reality.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Cutting Edge Commercial Roofing</h4>
                    </div>
                    <div class="panel-body">
                        <p>Whether you have a small repair or a full replacement, Umbrella has a solution to fit your needs. We know that every project is different so it is important to us to offer as many options as possible. From a simple torch down, to the modern seamless silicon roofs there will be an option perfect for your situation.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Winter Is Here!</h4>
                    </div>
                    <div class="panel-body">
                        <p>Snow on roofs can cause ice 
damming and shingle damage, possibly costing 
you thousands. Don't let it happen to you, give 
us a call and we would be happy to clear and protect 
your roof through the winter.</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

<!--
<div class="span8">
<p> 
  Hello, welcome to Umbrella Home Improvement. We are a family owned and run buisiness with over 40 years of experience serving customers on Long Island. Located in Commack, we serve all of Nassau and Suffolk counties. 
  We are dedicated to providing the best possible job and customer service experience to our customers. As exterior specialists we have the vision and the resources to provide
  anything from a small roof or siding repair, to a complete and total home makeover. All of our estimates are 100% free and our Owner will work with you personally to design
  the specific job to meet your needs. As Certainteed Master Elite installers, we can offer the industry leading warrantee backed by Certanteed. Please contact us today to discuss how we can make your dream home a reality. 
  <br />
  <br />
  <br />
</p>
</div>

<div class="span3">
<p id="winter">
WINTER IS HERE!!! Snow on roofs can cause ice 
damming and shingle damage, possibly costing 
you thousands. Don't let it happen to you, give 
us a call and we would be happy to clear and protect 
your roof through the winter.
</p>
</div>
-->

