
<% provide(:title, 'Services') %>


<div class="container">

 

 <!-- Service Tabs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Services</h2>
            </div>
            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Commercial</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-car"></i> Residential</a>
                    </li>
                    
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h4>Commercial</h4>
                        
                         <div class="col-md-6">
                <p> Umbrella Roofing and Siding is proud to be the first company certified with Gaco Western as 
  Gaco Qualified Applicators on Long Island. Whether you’re rehabbing an existing foam roof or 
  coating a new metal roof, Gaco Western has a roof system to meet your needs.  Gaco spray foam 
  and coatings provide seamless insulation and waterproofing, and are fully adhered to the substrate. 
  This eliminates common sources of leaks and pooling water beneath roofing material. 
  Gaco coatings are elastomeric, meaning they are able to stretch as the substrate warms and cools 
  through the day and through the seasons.  Characterized by high physical properties, GacoFlex 
  coatings are tough enough to withstand years of abuse by sun and weather.
  Gaco has also developed roof systems to meet specific project requirements.  
  From quick-set spray applications, to highly reflective coatings designed to lower your energy bills, 
  Gaco has the breadth and depth of applications to get your project done well and done on time. Click the links
  below for specific information on the application most suited to your roof.</p>
                
               
         
    
    <ul id='mat'>
    <li><a href="http://www.gaco.com/concrete.html">Concrete Substrate</a></li>
							<li><a href="http://www.gaco.com/plywood.html">Plywood Substrate</a></li>
							<li><a href="http://www.gaco.com/roofingsprayfoam.html">Foam Substrate</a></li>
							<li><a href="http://www.gaco.com/single-ply.html">Single Ply Substrate</a></li>
							<li><a href="http://www.gaco.com/products/Flyer-Re-cover-Don't-Re-roof.pdf">Re-Cover, Don't Re-Roof Flyer</a></li>
							<li><a href="http://www.gaco.com/products/Flyer-S20-Family.pdf">GacoFlex S20 Family Brochure</a></li>
							<li><a href="http://www.gaco.com/products/Flyer-S20-Silicone.pdf">GacoFlex S20 100% Silicone Flyer</a></li>
							<li><a href="http://www.gaco.com/products/Flyer-SF2000-SeamSeal.pdf">GacoFlex SF2000 SeamSeal Flyer</a></li>
							<li><a href="http://www.gaco.com/products/Flyer-SF2036-WalkPad.pdf">GacoFlex SF2036 WalkPad Flyer</a></li>
							<li><a href="http://www.gaco.com/products/MKGF5503_GacoFlashFoam_Flyer_w.pdf">GacoFlashFoam Flyer</a></li>
							<li><a href="http://www.gaco.com/instructions/Roof-Maintenance-Guidelines.pdf">Roof Maintenance Instructions</a></li>
    
  </ul>
            </div>
            <div class="col-md-6">
                <%= image_tag 'gaco.jpg', :class => "img-responsive" %>
            </div>
            
           
                    </div>
                    <div class="tab-pane fade" id="service-two">
                       
                        
                <!-- Service List -->
        <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Residential</h2>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Roofing</h4>
                        <p>From minor repairs to a full rip and re-roof, Umbrella has you covered.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Siding</h4>
                        <p>Our experienced siding teams will revitalize the look of your home.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Extensions</h4>
                        <p>Need more living space? From framing to siding and roofing, we can handle an extension project from start to finish.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Porticos</h4>
                        <p>Add some dimension to your house with a new portico!</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Windows</h4>
                        <p>Upgrade Your Home With High Quality Doors & Windows.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Kitchens</h4>
                        <p>Nothing makes a home more desireable than a modern kitchen!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Bathrooms</h4>
                        <p>Bathe in luxury with a custom bathroom from Umbrella!</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Masonry</h4>
                        <p>Our masons can beautify your driveway and walk.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-umbrella fa-stack-1x fa-inverse"></i>
                        </span> 
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Roof Protection Plans</h4>
                        <p>Simple and cheap protection plans for your roof. Pay a small fee and we will check up on your roof every month and keep it leak free!</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
            
           
                
                </div>

            </div>
        </div>

</div>
