
<% provide(:title, 'Services') %>

<h1>Services</h1>
 
<p>
  We offer a full range of serivices including
  
  <ul id='serv'>
    <li> Roof Replacement </li>
    <li> Roof Repair </li>
    <li> Siding </li>
    <li> Custom Extensions </li>
    <li> Exterior Stonework </li>
    <li> Windows </li>
    <li> Kitchens </li>
    <li> Baths </li>
  </ul>
</p>

